.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  list-style: none;

  &__item {
  }

  &__link:link,
  &__link:visited {
    display: block;
    font-size: 1.4rem;
    font-family: $font-display;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba($color-white, 0.05);
    transform: translateY(-3px);
  }

  &__link--footer:link,
  &__link--footer:visited {
    padding: 0.5rem;
    display: inline-block;
    transition: all 0.3s;
  }

  &__link--footer:hover,
  &__link--footer:active {
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}